#carouselExample{
    width: 800px;
    height: 800px;

}
h1{
    position: absolute;
    width:20%;
    top:80%;
  text-align: center;
  margin-left: 100px;
    
    color:white;
    padding: 10px;

}
#alink a{
  text-decoration: none;
  background-color: aqua;
}
a{
  margin-top: 25px;
}
